<div class="respuestas-wrapper">
  <div *ngIf="respuestas.length === 0" class="respuesta-empty">
    <p-card>
      <h3>No hay respuestas</h3>
    </p-card>
  </div>

  <div *ngIf="respuestas.length > 0">
    <h2 class="titulo">Respuestas</h2>

    <div class="limite-selector">
      <label for="limiteInput">Respuestas por página:</label>
      <p-inputnumber [(ngModel)]="limite" [showButtons]="true" inputId="limiteInput" [min]="1" [max]="20"
        (onInput)="cambiarLimite()" />
    </div>

    <div *ngFor="let formulario of respuestas; let i = index" class="formulario-item">
      <div class="participante">Participante N°: {{ getParticipante(i) }}</div>
      <ul>
        <li *ngFor="let resp of formulario.respuestas" class="respuesta-item">
          <div class="pregunta">Pregunta: {{ resp.pregunta.texto }}</div>
          <div class="respuesta">Respuesta: {{ resp.respuesta }}</div>
          <p-divider />
        </li>
      </ul>
    </div>

    <div class="paginacion">
      <button pButton label="Anterior" icon="pi pi-angle-left" severity="secondary" (click)="anterior()"
        [disabled]="pagina <= 1"></button>
      <span class="pagina-indicador">Página {{ pagina }} de {{ totalPaginas }}</span>
      <button pButton label="Siguiente" icon="pi pi-angle-right" severity="secondary" iconPos="right"
        (click)="siguiente()" [disabled]="pagina * limite >= total"></button>
    </div>
  </div>
</div>
