<div *ngIf="encuestas.length === 0">
  No hay encuestas
</div>
<div *ngFor="let encuesta of encuestas">
  <h3> Titulo: {{ encuesta.nombre }}</h3>
  <ul>
    <li *ngFor="let pregunta of encuesta.preguntas">
      {{ pregunta.numero }}. {{ pregunta.texto }}
      <ul *ngIf="pregunta.opciones && pregunta.opciones.length > 0">
        <li *ngFor="let opcion of pregunta.opciones">- {{ opcion.texto }}</li>
      </ul>
    </li>
    <button [routerLink]="['/respuestas', encuesta.id]">Ver Respuestas</button>
  </ul>
</div>
<div>
  <button (click)="anterior()" [disabled]="pagina <= 1">Anterior</button>
  <button (click)="siguiente()" [disabled]="pagina * limite >= total">Siguiente</button>
</div>